.footer{
  background-color: var(--white);
  margin: auto 0;
  padding: 30px;
  border: 1px solid var(--grey-border);
  height: 100%;

  &__container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__context{
    color: var(--grey-header-footer-text);
    font-family: "Lato-Regular", sans-serif;
    font-size: 15px;
  }
  &__icons{
    display: flex;
    gap: 10px;
  }
  .icon__container{
    background-color: #4073FF;
    height: 40px;
    width: 40px;
    @include centralize_block_by_flex();
    border-radius: 50%;
    cursor: pointer;
  }
}

@media screen and (max-width: 1200px){
  .footer{
    @include centralize_block_by_flex()
  }
}

@media screen and (max-width: 600px){
  .footer{
    padding: 10px;
  }
}