@import './fonts.scss', './mixins.scss', './root.scss', '../bem/header/header', '../bem/main/main', '../bem/footer/footer', '../bem/button/button.scss', '../bem/timer/timer.scss' ;




*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body{
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 100px auto 100px;
  min-height: 100vh;
}
