@import './__content/main_content';

.main{
  width: 100%;
  padding: 30px;
  height: 100%;
  @include centralize_block_by_flex();
  
  &__container{
    max-width: 1200px;
    width: 100%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 50% 50%;
    align-items: center;
  }
  
  &__image{
    width: 600px;
    height: 525px;
    object-fit: cover;
  }
  
}

@media screen and (max-width: 1200px){

  .main__image{
    display: none;
  }

  .main__container{
    @include centralize_block_by_flex();
  }

  .main{
    padding: 10px;
  }
}

