.header{
  background-color: var(--white);
  margin: auto 0;
  padding: 30px;
  border: 1px solid var(--grey-border);
  height: 100%;

  &__container{
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }
  
  &__title{
    font-size: 15px;
    font-family: "Lato-Regular", sans-serif;
    color: var(--grey-header-footer-text);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 371px;
    text-align: center;
  }
  @media screen and (max-width: 600px){
    &__title{
      display: none;
    }
  }
}


@media screen and (max-width: 1200px){
  .header__container{
    flex-direction: column;
  }
  .header{
    @include centralize_block_by_flex()
  }
}

@media screen and (max-width: 600px){
  .header{
    width: 100vw;
    padding: 10px;
  }
}